.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.App-header nav ul li {
  display: inline;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.App-main {
  padding: 20px;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 10px 0;
  text-align: center;
}
